* {
    margin: 0%;
    box-sizing: border-box;
}

/*-----background div------*/
.container {
    background: rgb(245, 24, 24);
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    padding: 5%;
}
/*-----buttons-----*/
button{
    background-color: #f83f3f;
    color: rgb(41, 38, 38);
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    top: 10px;
}
button:hover{
    background-color: #860000;
    transition: 0.8s;
}